:root {
  --color1: #7bf759;
  --color2: #200775;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: Avenir Next Condensed,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background-color: var(--color2);
    color: var(--color1);
    line-height: 0.9;
    padding: 10px;
    margin: 0px;
}

/*header*/
header {
display: flex;
justify-content: center;
text-align: center;
font-size: 200%;
color: inherit;
}

header h1:hover {
    color: white;
}

/*grid*/
    .container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 768px;
  }

    .item {
    width: 200px;
    height: 200px;
    padding: 10px;
  }

  .container svg {
    fill: var(--color1);
    width: 200px;
    height: auto;
  }

  .container svg:hover {
    fill: white;
  }

/*modal*/

.modal {
    color: var(--color2);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.modal-content {
    display: block;
    background-color: var(--color1);
    margin: 15%;
    padding: 40px;
    width: 400px;
    height: fit-content;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.modal-content svg {
  fill: var(--color2);
  width: 200px;
  height: auto;
}

.modal-content  audio {
  border-radius: 30px;
  background-color: var(--color2);
  margin-bottom: 20px;
}


.modal-content audio::-webkit-media-controls-panel {
  background-color: var(--color2);  
}

.modal-content .cat {
font-size: small;
font-weight: lighter;
line-height: 0px;  
}

.modal-content .tag {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 30px;  
  }

.close {
    position: fixed;
    top: -5;
    right: 10;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/*footer*/

.footer { 
    padding:40px 15px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    text-align: center;
  }

.contactos {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    }

 .contactos .icon {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        vertical-align: center;
        padding: 15px;
       }

    .material-icons {
        vertical-align: middle;
        position: relative;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
    }

   a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    font-size: larger;
    text-transform: uppercase;
    font-family: Avenir Next Condensed,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: var(--color1);
    line-height: 0.9;
    }

/* Resposive*/
@media (max-width: 600px) {
  
  .modal-content {
    width: 70%;
    height: fit-content;
    overflow: scroll;
}

.modal-content  audio {
  width: 80%;
}

}